<!-- 底部                            -->
<div class="Footer" data-reactid="156">
  <div class="Empty" data-reactid="157"></div>
  <div class="module-container" data-reactid="158">
    <div class="table" data-reactid="159">
      <div class="cell" data-reactid="160">
        <div class="subscribe " data-reactid="161">
          <form data-reactid="162">
            <h3 data-reactid="163">Subscribe</h3>
            <p data-reactid="164">Be the first to know about our latest products.</p>
            <div class="input" data-reactid="165">
              <input placeholder="Enter your email address" data-reactid="166" type="text" />
            </div>
            <div class="submit" data-reactid="167">
              <a data-reactid="168">SUBMIT</a>
            </div>
          </form>
        </div>
        <div class="follow" data-reactid="169">
          <a target="_blank" class="community" href="https://community.anker.com/" data-reactid="170"><i class="iconfont" data-reactid="171"></i></a>
          <a target="_blank" class="facebook" href="http://www.facebook.com/Anker.fans" data-reactid="172"><i class="iconfont" data-reactid="173"></i></a>
          <a target="_blank" class="twitter" href="https://twitter.com/Ankerofficial" data-reactid="174"><i class="iconfont" data-reactid="175"></i></a>
          <a target="_blank" class="google" href="https://plus.google.com/114663344536204280808" data-reactid="176"><i class="iconfont" data-reactid="177"></i></a>
          <a target="_blank" class="youtube" href="http://www.youtube.com/user/AnkerOceanwing" data-reactid="178"><i class="iconfont" data-reactid="179"></i></a>
          <a target="_blank" class="instagram" href="http://instagram.com/anker_official?ref=badge" data-reactid="180"><i class="iconfont" data-reactid="181"></i></a>
          <a target="_blank" class="periscope" href="http://www.periscope.tv/AnkerOfficial" data-reactid="182"><i class="iconfont" data-reactid="183"></i></a>
        </div>
      </div>
      <div class="links cell" data-reactid="184">
        <div class="linklist " data-reactid="185">
          <h3 data-reactid="186">
            <!-- react-text: 187 -->About
            <!-- /react-text --><i class="iconfont" data-reactid="188"></i></h3>
          <ul data-reactid="189">
            <li class="" data-reactid="190"><a href="betron.htm" data-reactid="191">Our Company</a></li>
            <li class="" data-reactid="192"><a href="https://www.AMNIE.com/contact" data-reactid="193">Contact AMNIE</a></li>
            <li class="" data-reactid="194"><a href="https://www.AMNIE.com/business" data-reactid="195">Wholesale</a></li>
            <li class="" data-reactid="196"><a href="https://www.AMNIE.com/poweriq" data-reactid="197">PowerIQ™</a></li>
            <li class="" data-reactid="198"><a href="https://www.AMNIE.com/weee" data-reactid="199">WEEE Information</a></li>
            <li data-reactid="200"><a href="https://www.AMNIE.com/influencers" data-reactid="201">AMNIE Influencers</a></li>
            <li data-reactid="202"><a href="https://www.AMNIE.com/distributors" data-reactid="203">Distributors</a></li>
            <li data-reactid="204"><a href="https://www.AMNIE.com/AMNIE_store_locator" data-reactid="205">Store Locator</a></li>
          </ul>
        </div>
        <div class="linklist " data-reactid="206">
          <h3 data-reactid="207">
            <!-- react-text: 208 -->Support
            <!-- /react-text --><i class="iconfont" data-reactid="209"></i></h3>
          <ul data-reactid="210">
            <li class="" data-reactid="211"><a href="https://www.AMNIE.com/support/download" data-reactid="212">Drivers &amp; Downloads</a></li>
            <li class="" data-reactid="213"><a href="https://www.AMNIE.com/support/refund-exchange" data-reactid="214">Refund &amp; Exchange</a></li>
            <li class="" data-reactid="215"><a href="https://www.AMNIE.com/support/privacy-policy" data-reactid="216">Privacy Policy</a></li>
            <li class="" data-reactid="217"><a href="https://www.AMNIE.com/support/warranty" data-reactid="218">Warranty</a></li>
            <li class="" data-reactid="219"><a href="https://www.AMNIE.com/support/terms" data-reactid="220">Terms of Use</a></li>
            <!-- react-text: 221 -->
            <!-- /react-text -->
          </ul>
        </div>
      </div>
      <div class="contact cell" data-reactid="222">
        <div class="tels" data-reactid="223">
          <h4 data-reactid="224">Call us</h4>
          <div data-reactid="225">
            <p data-reactid="226"><a href="tel:+1%28800%299887973" data-reactid="227">+1 (800) 988 7973 (US)</a></p>
            <p data-reactid="228">Mon to Fri 9AM - 5PM(PT)</p>
          </div>
          <div data-reactid="229">
            <p data-reactid="230"><a href="tel:+44%280%291604936200" data-reactid="231">+44 (0) 1604 936200 (UK)</a></p>
            <p data-reactid="232">Mon to Fri 6AM - 11AM(GMT)</p>
          </div>
        </div>
        <div class="email" data-reactid="233">
          <h4 data-reactid="234">Email</h4>
          <p data-reactid="235"><a href="mailto:support@AMNIE.com" data-reactid="236">support@AMNIE.com</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix sub" data-reactid="237">
      <p class="copyright" data-reactid="238">Copyright &copy; 2017 AMNIE Technology Co. Limited</p>
      <div class="country" data-reactid="239">
        <a href="https://www.AMNIE.com/country" data-reactid="240"><span data-reactid="242">United States</span></a>
      </div>
    </div>
  </div>
  <div class="backTop hide" data-reactid="243">
    <i class="iconfont" data-reactid="244"></i>
    <span data-reactid="245">Back to the Top</span>
  </div>
</div>




<script type="text/javascript">
    AddShoppersTracking = {};

    var js = document.createElement('script'); js.type =
        'text/javascript'; js.async = true; js.id = 'AddShoppers';
    js.src = ('https:' == document.location.protocol ?
            'https://shop.pe/widget/' : 'http://cdn.shop.pe/widget/') +
        'widget_async.js#55a7ad23a387640adb280f6a';
    document.getElementsByTagName("head")[0].appendChild(js);
</script>
<div style="display: none;">
</div>	<a class="scroll-to-top"><i class="fa fa-arrow-up"></i></a>
<script type="text/javascript" async="" defer="defer" src="catalog/view/javascript/common/platform.js">
</script>		<div id="theme-popup">
  <img src="catalog/view/javascript/common/ajax-loader.gif" alt="Loading...">
</div>
</body></html>