{% if categories %}
  <div class="nav-main-collapse collapse">
    <nav class="nav-main mega-menu">
      <button type="button"><i class="fa fa-times"></i></button>
      <ul id="mainMenu" class="nav nav-pills nav-main">
          {% for c in categories %}
            <li class="level0">
              <a href="{{ c.href }}">{{ c.name }}</a>
            </li>
          {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %} 