{{ header2 }}

<section id="after-header">
    <div class="container">
    </div>
</section>
<section id="maincontent">
    <div class="cover-breadcrumbs ">
        <div class="container">
            <div class="row">
                <div class="breadcrumbs">
                    <h1>About Us</h1>
                    <ul>
                        <li class="home">
                            <a href="http://www.betronstore.co.uk/" title="Go to Home Page">Home</a>
                            <span>/ </span>
                        </li>
                        <li class="cms_page">
                            <strong>About Us</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">


        <div class="row">
            <div class="col-main col-md-12">

                <div class="std"><h2>WE&rsquo;RE BETRON</h2>
                    <h4>&nbsp;</h4>
                    <p>Betron is a London Based British Company specialized in Audio&amp;Music as well as Mobile &amp; Tech Accessories .</p>
                    <p>We stand for true-to-life audio reproduction and lasting quality. With these values at our core, we work to deliver the most accurate, comfortable and unobtrusive listening experience possible. Every Betron product combines high quality materials, precision engineering and our fundamental commitment to design.</p></div>						</div>
        </div>


    </div>
</section>


{{ footer }}