{{ header2 }}

<section id="after-header">
    <div class="container">
    </div>
</section>
<section id="maincontent">
    <div class="cover-breadcrumbs ">
        <div class="container">
            <div class="row">
                <div class="breadcrumbs">
                    <h1>Contact Us</h1>
                    <ul>
                        <li class="Home">
                            <a href="../../" title="Home">Home</a>
                            <span>/ </span>
                        </li>
                        <li class="Contact Us">
                            <strong>Contact Us</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">


        <div class="row">
            <div class="col-main col-md-12">
                <div id="messages_product_view"></div>
                <div class="contact-content row">
                    <div class="col-main col-md-12">
                        <h2>Send a Message</h2>
                        <div class="col-main col-md-12">
                            <script type="text/javascript">
                                //<![CDATA[
                                var contactForm = new VarienForm('contactForm', true);
                                //]]>
                            </script>
                        </div>
                    </div>
                    <div class="col-main col-md-12">
                        <div class="contact-info">
                            <div class="row">
                                <div class="col-main col-md-12">
                                    <p>If your inqury is about an order that you placed with us please do not forget to quote your order number .</p>
                                    <p>If you purchased from<strong> Amazon.co.uk</strong> : <a href="https://www.amazon.co.uk/ss/help/contact/?marketplaceID=A1F83G8C2ARO7P&amp;sellerID=A3108QBFCDGHS1">Click Here</a></p>
                                    <p>If you purchased from <strong>ebay.co.uk</strong> : &nbsp;<a href="http://contact.ebay.co.uk/ws/eBayISAPI.dll?FindAnswers&amp;requested=betrontech">Click Here</a></p>
                                    <div class="row"><hr /></div>
                                    <h2>Returns Policy &amp; Customer Service</h2>
                                    <h3><strong>30-day money-back guarantee for any reason</strong></h3>
                                    <p>For 30 days after the date of purchase, return your undamaged Betron product and receive a full refund for ANY reason.</p>
                                    <hr />
                                    <h3><strong>Minimum 12-month warranty for quality-related issues</strong></h3>
                                    <p>For 12 months after the date of purchase, we take care of all quality-related issues with a REPLACEMENT.</p>
                                    <p><strong>Reminder:</strong>&nbsp;Be sure to use your product as directed.</p>
                                    <hr />
                                    <h2>Free user support</h2>
                                    <p>Not sure how to get your Betron product to work properly?&nbsp;Contact&nbsp;our world-class, friendly support team for quick solutions.</p>
                                    <p><strong>Friendly reminder:</strong>&nbsp;When contacting us for help, be sure to have your please describe the problem and let us know your order number to avoid delays.</p>
                                    <hr />
                                    <h3>&nbsp;<strong>Limitations</strong></h3>
                                    <ul>
                                        <li>Our returns and exchange service is limited to all purchases made from Betron. If you purchased through a different retailer, please contact them directly. (Unauthorized reselling of Betron products is prohibited.)</li>
                                        <li>Warranty-related shipping costs can only be covered in the country of purchase. If the product is taken outside the country of purchase, any shipping costs will be the buyer's responsibility.&nbsp;</li>
                                        <li>If returning an item, please ship it back within 30 days after you receive approval. Further delay may void your return.</li>
                                    </ul>
                                    <h2>All headphone earphone and speakers and all Bluetooth wireless products</h2>
                                    <p>Betron warrants for 1 year to the original retail purchaser that the earphones shall be free against defects in materials or workmanship in the earphone external shell or in its earphone internal components for a period specified above, from the date of purchase. If this product proves defective in either material or workmanship, Betron, at its option, will (a) repair the product, or (b) replace the product, at no charge for parts or labor. If the product model is no longer available and cannot be repaired effectively or replaced with an identical model, Betron at its sole option may replace the unit with a current model of equal or greater value.</p>
                                    <h2>Bluetooth wireless Headphones, Earphones and Speakers</h2>
                                    <p>Betron warrants for 1 year to the original retail purchaser that the headphones shall be free against defects in materials or workmanship. Limitations to this warranty include cosmetic damage, broken hinges, water damage, and battery performance. Shipping the unit in for repair/replacement is the responsibility of the end user. If this product proves defective in either material or workmanship, Betron, at its option, will (a) repair the product, or (b) replace the product, at no charge for parts or labor. If the product model is no longer available and cannot be repaired effectively or replaced with an identical model, Betron at its sole option may replace the unit with a current model of equal or greater value.</p>
                                    <h3><strong>Limitations:</strong></h3>
                                    <ul>
                                        <li>This limited warranty does not cover failure of the product resulting from misuse, abuse, accident, neglect, mishandling, or wear from ordinary use or environmental deterioration. Environmental deterioration includes exposure to moisture, extreme heat or cold, and sun damage.</li>
                                        <li>This limited warranty does not cover ear tips, accessories, batteries, or headphone cable.</li>
                                        <li>This limited warranty does not cover cosmetic damage.</li>
                                        <li>This limited warranty does not cover consequential damage to other components.</li>
                                        <li>This limited warranty does not cover signal reception problems and failures due to line power surge.</li>
                                        <li>This limited warranty is null and void for altered products.</li>
                                        <li>This limited warranty terminates if you sell or otherwise transfer this product to another party.</li>
                                    </ul>
                                </div>
                            </div>		</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-main col-md-12">
                    </div>
                </div>						</div>
        </div>


    </div>
</section>


{{ footer }}