{{ header }}


<section id="after-header">
  <div class="container">
  </div>
</section>
<section id="maincontent">
  <div class="cover-breadcrumbs ">
    <div class="container">
      <div class="row">
        <div class="breadcrumbs">
          <h1>Earphones &amp; Headphones</h1>
          <ul>
            <li class="home">
              <a href="http://www.betronstore.co.uk/" title="Go to Home Page">Home</a>
              <span>/ </span>
            </li>
            <li class="cms_page">
              <strong>Earphones &amp; Headphones</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">


    <div class="row">
      <div class="col-main col-md-12">

        <div class="std"><hr>
          <p><a href="http://dev.amnie.local/index.php?route=product/category&amp;path=59_60"><img class="img-responsive" alt="Wireless &amp; Bluetooth" src="catalog/view/javascript/common/wireless.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=10"><img class="img-responsive" alt="YSM1000" src="catalog/view/javascript/common/ysm1000.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=11"><img class="img-responsive" alt="DNZ500" src="catalog/view/javascript/common/DNZ500.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=12"><img class="img-responsive" alt="GLD60" src="catalog/view/javascript/common/GLD60.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=13"><img class="img-responsive" alt="KS45" src="catalog/view/javascript/common/KS45.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=15"><img class="img-responsive" alt="B750" src="catalog/view/javascript/common/B750.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=16"><img class="img-responsive" alt="B850" src="catalog/view/javascript/common/B850.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=17%22"><img class="img-responsive" alt="B650" src="catalog/view/javascript/common/B650.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=18"><img class="img-responsive" alt="B550" src="catalog/view/javascript/common/B550.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=19"><img class="img-responsive" alt="B630" src="catalog/view/javascript/common/B630.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=20"><img class="img-responsive" alt="RK300" src="catalog/view/javascript/common/RK300.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html?cat=21"><img class="img-responsive" alt="DC950" src="catalog/view/javascript/common/DC950.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/betron-hd1000-headphones-with-bass-driven-sound.html"><img class="img-responsive" alt="HD1000" src="catalog/view/javascript/common/hd1000.jpg"></a></p>
          <hr>
          <p><a href="http://www.betronstore.co.uk/earphones-headphones.html"><img class="img-responsive" alt="All Products" src="catalog/view/javascript/common/see-all-products.jpg"></a></p></div>						</div>
    </div>


  </div>
</section>


{{ footer }} 
