<!DOCTYPE html>
<html><head><script async="" src="catalog/view/javascript/AMNIEStore_files/iframe_api_002"></script><script src="catalog/view/javascript/AMNIEStore_files/iframe_api" id="YTAPI"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Betron Store</title>
    <meta name="description" content="BETRON is a London based British Company specialized in Audio &amp; Music as well as Mobile Technology Accessories.">
    <meta name="keywords" content="betron earphones, betron headphones, wireless sports headphones, bluetooth sports headphones,wireless sports earphones, bluetooth sports earphones, bluetooth travel speakers, portable travel speakers">
    <meta name="robots" content="INDEX,FOLLOW">

    <!--[if lt IE 7]>
    <script type="text/javascript">
        //<![CDATA[
    var BLANK_URL = 'http://www.betronstore.co.uk/js/blank.html';
    var BLANK_IMG = 'http://www.betronstore.co.uk/js/spacer.gif';
//]]>
</script>
<![endif]-->

    <script type="text/javascript" async="" src="catalog/view/javascript/AMNIEStore_files/analytics.js"></script><script type="text/javascript" async="" src="catalog/view/javascript/AMNIEStore_files/ec.js"></script><script async="" src="catalog/view/javascript/AMNIEStore_files/gtm.js"></script><script id="facebook-jssdk" src="catalog/view/javascript/AMNIEStore_files/sdk.js"></script><script async="" src="catalog/view/javascript/AMNIEStore_files/fbds.js"></script><script async="" src="catalog/view/javascript/AMNIEStore_files/analytics.js"></script><script type="text/javascript">
        //<![CDATA[
        //  var WEB_URL = 'http://www.betronstore.co.uk/';
        //]]>
    </script>

    <!-- Css Section-->
    <link href="catalog/view/javascript/AMNIEStore_files/css.css" rel="stylesheet" type="text/css"><!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="https://www.betronstore.co.uk/media/css/68513c5f8f6720459446b174f175773d.css" media="all" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/AMNIEStore_files/f987c6bb71df9f4db224075b3a18f46e.css" media="all">
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/AMNIEStore_files/224c33443000f51f68a126fb69a877d7.css" media="print">
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/AMNIEStore_files/config-color.css" media="all">

    <link rel="stylesheet" type="text/css" media="screen" href="catalog/view/javascript/AMNIEStore_files/a_002.css">

    <link rel="stylesheet" type="text/css" media="screen" href="catalog/view/javascript/AMNIEStore_files/footer.css">
    <!-- Js Section
    <link rel="icon" href="https://www.betronstore.co.uk/media/favicon/default/favicon_1.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.betronstore.co.uk/media/favicon/default/favicon_1.ico" type="image/x-icon">
    <script type="text/javascript" src="catalog/view/javascript/AMNIEStore_files/0cbf2511e6fe2dd72b11bca7c8c64177.js"></script>
    <link href="http://www.betronstore.co.uk/rss/catalog/new/store_id/1/" title="New Products" rel="alternate" type="application/rss+xml">
    <link href="http://www.betronstore.co.uk/rss/catalog/special/store_id/1/cid/0/" title="Special Products" rel="alternate" type="application/rss+xml">
    <link href="http://www.betronstore.co.uk/rss/catalog/salesrule/store_id/1/cid/0/" title="Coupons/Discounts" rel="alternate" type="application/rss+xml">-->
    <!--[if lt IE 7]>
    <script type="text/javascript" src="https://www.betronstore.co.uk/media/js/3348b42837c2c414629477a1340434a9.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://www.betronstore.co.uk/media/js/834fb20f0d56e5c6e186171a574dfc49.js"></script>
    <![endif]-->

    <script type="text/javascript" src="catalog/view/javascript/AMNIEStore_files/jquery_003.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/AMNIEStore_files/owl.js"></script>

    <script async="" src="catalog/view/javascript/product-description/fbevents.js"></script><script type="text/javascript" src="catalog/view/javascript/product-description/300lo.json"></script>
    <link rel="stylesheet" id="wsl-widget-css" href="catalog/view/javascript/product-description/style_002.css" type="text/css" media="all">
    <link rel="stylesheet" id="easy-image-gallery-css" href="catalog/view/javascript/product-description/easy-image-gallery.css" type="text/css" media="screen">
    <link rel="stylesheet" id="theme-stylesheet-css" href="catalog/view/javascript/product-description/style.css" type="text/css" media="all">
    <!--[if lt IE 9]>
    <link href="https://www.aukey.com/wp-content/themes/aukeys/css/non-responsive.css" rel="stylesheet" type="text/css" />
    <style type="text/css">.col-full, #wrapper { width: 960px; max-width: 960px; } #inner-wrapper { padding: 0; } body.full-width #header, #nav-container, body.full-width #content, body.full-width #footer-widgets, body.full-width #footer { padding-left: 0; padding-right: 0; } body.fixed-mobile #top, body.fixed-mobile #header-container, body.fixed-mobile #footer-container, body.fixed-mobile #nav-container, body.fixed-mobile #footer-widgets-container { min-width: 960px; padding: 0 1em; } body.full-width #content { width: auto; padding: 0 1em;}</style>
    <![endif]-->
    <script type="text/javascript" src="catalog/view/javascript/product-description/jquery.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/product-description/jquery-migrate.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var ajax_object = {"ajaxurl":"https:\/\/www.aukey.com\/wp-admin\/admin-ajax.php"};
        /* ]]> */
    </script>
    <script type="text/javascript" src="catalog/view/javascript/product-description/script.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/product-description/third-party.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/product-description/modernizr.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/product-description/general.js"></script>


    <script async="" src="catalog/view/javascript/product-description/analytics.js"></script><script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.aukey.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.4"}};
        !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script><script src="catalog/view/javascript/product-description/wp-emoji-release.js" type="text/javascript"></script>


    <script type="text/javascript">
        //<![CDATA[
        Mage.Cookies.path     = '/';
        Mage.Cookies.domain   = '.www.betronstore.co.uk';
        //]]>
    </script>

    <script type="text/javascript">
        //<![CDATA[
        optionalZipCountries = ["GB"];
        //]]>
    </script>
    <!-- BEGIN GOOGLE UNIVERSAL ANALYTICS CODE -->
    <script type="text/javascript">
        //<![CDATA[
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


        ga('create', 'UA-64966405-1', 'auto');

        ga('send', 'pageview');

        //]]>
    </script>
    <!-- END GOOGLE UNIVERSAL ANALYTICS CODE -->
    <meta property="og:type" content="addshoppers:product"><script type="text/javascript">
        //<![CDATA[
        (function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '738734842899159']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
        //]]>
    </script>
    <noscript>
        <img height="1"
             width="1"
             alt=""
             style="display:none"
             src="https://www.facebook.com/tr?id=738734842899159&amp;ev=PixelInitialized" />
    </noscript>
    <script type="text/javascript">
        //<![CDATA[
        (function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '738734842899159', {'value':'0.01','currency':'GBP'}]);
        //]]>
    </script>

    <noscript>
        <img height="1"
             width="1"
             alt=""
             style="display:none"
             src="https://www.facebook.com/tr?ev=738734842899159&amp;cd[value]=0.01&amp;cd[currency]=GBP&amp;noscript=1" />
    </noscript><script type="text/javascript">//<![CDATA[
        var Translator = new Translate([]);
        //]]></script><meta name="p:domain_verify" content="922aed65ffecc3c8a33418750e28c4a1">
    <meta name="msvalidate.01" content="368BC15FB79A265E551B1664E3024E92">
    <meta name="author" content="Betron Ltd.">
    <style>
        .price-box {display: none;}
        .products-grid > li{
            list-style-type: none;
        }
        .shipping {
            display:none;
            visibility:hidden;
        }
        @media only screen and (max-width: 770px) {
            .fulldesc {
                display: none;
                visibility:hidden;
            }
            .footer .links {
                width: 22.65625%;
                padding-right: 0;
                margin-right: 3.125%;
            }
            .footer .block-subscribe {
                clear: both;
                width: 100%;
                margin:20px;
            }
        }
        @media only screen and (max-width: 1199px) {
            .footer .links {
                width: 22.65625%;
                padding-right: 0;
                margin-right: 3.125%;
                margin-top:20px;
            }

            .footer .block-subscribe {
                clear: both;
                width: 100%;
                margin: auto;
                width: 60%;
            }
        }
        @media only screen and (max-width: 599px) {
            .footer .links {
                width: 100%;
            }
            .footer .links:nth-child(odd) {
                margin-right: 3.125%;
                clear: both;
            }

        }

        .add-to-cart-buttons-amazon{
            margin-right:2%; color:#000; border:1px solid #000;border-radius:5px;text-shadow:1px 1px 1px #FFF1D1;background:#FCD262;font-family:Arial; text-transform:inherit;width:200px;height:40px; font-size:18px;
        }
        .add-to-cart-buttons-amazon:hover{background:#FFB70B;}
        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }
        .videoWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        /*  SECTIONS  */
        .section {
            clear: both;
            padding: 0px;
            margin: 0px;
        }

        /*  COLUMN SETUP  */
        .col {
            display: block;
            float:left;
            margin: 1% 0 1% 1.6%;
        }
        .col:first-child { margin-left: 0; }

        /*  GROUPING  */
        .group:before,
        .group:after { content:""; display:table; }
        .group:after { clear:both;}
        .group { zoom:1; /* For IE 6/7 */ }
        /*  GRID OF TWO  */
        .span_2_of_2 {
            width: 100%;
        }
        .span_1_of_2 {
            width: 70%;
            vertical-align:middle;
        }
        .span_1_of_1 {
            width: 20%;
            margin:20px;
            text-align:center;

        }
        .span_1_of_1 img {
            width:200px;
            height:200px;
            margin:40px;
        }
        /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

        @media only screen and (max-width: 480px) {
            .col {
                margin: 1% 0 1% 0%;
            }
        }

        @media only screen and (max-width: 480px) {
            .span_2_of_2, .span_1_of_2 { width: 100%; }
        }
        .breadcrumbs h1{color: #fff;background-color: rgba(0, 0, 0, 0.2);}
        .breadcrumbs ul{display:none;}

    </style>



    <header>
        <div id="header-v7" class="header-v7 sticky-menu">
            <div class="top-content sticky-elements">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12 mobile-topbar">
                            <div class="logo-container">
                                <h1 class="logo">
                                    <a href="http://www.betronstore.co.uk/" title="Betron Store" class="logo">
                                        <img src="catalog/view/javascript/AMNIEStore_files/logo-white-border.png" alt="Betron Store">
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-3 col-xs-0 menu-7">
                            <div class="nav-main-collapse collapse">
                                <nav class="nav-main mega-menu">
                                    <button type="button"><i class="fa fa-times"></i></button>
                                    <ul id="mainMenu" class="nav nav-pills nav-main">
                                        <li class="  static-menu level0">
                                            <a href="http://www.betronstore.co.uk/earphones-headphones">Earphones</a>				</li>
                                        <li class="  mega-menu-item mega-menu-fullwidth static-menu level0">
                                            <a href="http://www.betronstore.co.uk/portable-wireless-bluetooth-speakers.html">Speakers</a>				</li>
                                        <li class="  mega-menu-item mega-menu-fullwidth static-menu level0">
                                            <a href="http://www.betronstore.co.uk/mobile-accessories.html">Accessories</a>				</li>
                                        <li class="  category-menu level0">
                                            <a href="http://www.betronstore.co.uk/cables.html" "="">Cables</a>				</li>
                                        <li class="  static-menu level0">
                                            <a href="http://www.betronstore.co.uk/trends">Trends</a>				</li>
                                    </ul>

                                </nav>
                            </div>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target=".nav-main-collapse">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 right-content">
                            <div class="search">
                                <button type="button" title="Search"><i class="fa fa-search"></i></button>
                                <form id="search_mini_form" class="search_mini_form" action="http://www.betronstore.co.uk/catalogsearch/result/" method="get">
                                    <div class="input-group form-search">
                                        <input class="form-control" id="search" name="q" value="Search entire..." maxlength="128" autocomplete="off" type="text">
                                        <div class="input-group-btn">
                                            <button type="submit" title="Search"><i class="fa fa-search"></i></button>
                                        </div>
                                        <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                                        <script type="text/javascript">
                                            //<![CDATA[
                                            var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search entire...');
                                            searchForm.initAutocomplete('http://www.betronstore.co.uk/catalogsearch/ajax/suggest/', 'search_autocomplete');
                                            //]]>
                                        </script>
                                    </div>
                                </form>
                            </div>																					<div class="dropdown-links links-drop">
                                <button id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">
                                    <i class="fa fa-user"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li class="first"><a href="https://www.betronstore.co.uk/customer/account/" title="My Account">My Account</a>					</li>
                                    <li class=" last"><a href="https://www.betronstore.co.uk/customer/account/login/referer/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8_X19fU0lEPVU,/" title="Log In">Log In</a>					</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>










    <div class="uk-width-medium-4-5 uk-container uk-container-center uk-margin-large uk-block uido comm_margin_top_10" style="margin-top:120px;">

        <div data-uk-grid-margin="" class="uk-grid ">

            <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-row-first">

                <h1 class="uk-article-title uk-hidden-medium uk-hidden-large uk-text-center-small">Optic 3-in-1 Smartphone Lens Set</h1>


                <div class="uk-slidenav-position" data-uk-slideshow="{duration:100}">

                    <div class="uk-grid uk-grid-small ui segment basic refresh-gallery">

                        <div class="uk-hidden-small uk-width-1-6">

                            <div class="color-switcher" data-uk-slideset="{controls: '#color-switcher',filter: 'black',default: 5,animation: 'scale', duration: 00}">
                                <div class="uk-slidenav-position">


                                    <ul class="uk-slideset uk-grid uk-flex-center uk-flex-column uk-grid-width-1-5">

                                        <li data-uk-filter="black" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                            <a data-uk-slideshow-item="0" class="">
                                                <img src="catalog/view/javascript/product-description/pl-a1-1-black-150x150.jpg" width="150" height="150"></a></li>

                                        <li data-uk-filter="black" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                            <a data-uk-slideshow-item="1" class="uk-active">
                                                <img src="catalog/view/javascript/product-description/pl-a1-2-black-150x150.jpg" width="150" height="150"></a></li>

                                        <li data-uk-filter="black" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                            <a data-uk-slideshow-item="2" class="">
                                                <img src="catalog/view/javascript/product-description/pl-a1-3-black-150x150.jpg" width="150" height="150"></a></li>

                                        <li data-uk-filter="black" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                            <a data-uk-slideshow-item="3" class="">
                                                <img src="catalog/view/javascript/product-description/pl-a1-8-black-150x150.jpg" width="150" height="150"></a></li>

                                        <li data-uk-filter="black" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                            <a data-uk-slideshow-item="4" class="">
                                                <img src="catalog/view/javascript/product-description/pl-a1-4-black-150x150.jpg" width="150" height="150"></a></li>


                                    </ul>

                                </div>

                            </div>
                        </div>

                        <div class="uk-width-small-1-1 uk-width-medium-5-6 uk-width-large-5-6">

                            <ul class="uk-slideshow" style="height: 501px;">

                                <li aria-hidden="true" class="" style="animation-duration: 100ms; opacity: 0; height: 501px;"><div class="uk-cover-background uk-position-cover" style="background-image: url(&quot;https://www.aukey.com/wp-content/uploads/2016/10/pl-a1-1-black.jpg&quot;);"></div>

                                    <canvas width="500" height="500" style="width: 100%; height: auto; opacity: 0;"></canvas>

                                </li>


                                <li aria-hidden="false" style="animation-duration: 100ms; opacity: 1; height: 501px;" class="uk-active"><div class="uk-cover-background uk-position-cover" style="background-image: url(&quot;https://www.aukey.com/wp-content/uploads/2016/10/pl-a1-2-black.jpg&quot;);"></div>

                                    <canvas width="500" height="500" style="width: 100%; height: auto; opacity: 0;"></canvas>

                                </li>


                                <li aria-hidden="true" style="height: 501px;"><div class="uk-cover-background uk-position-cover" style="background-image: url(&quot;https://www.aukey.com/wp-content/uploads/2016/10/pl-a1-3-black.jpg&quot;);"></div>

                                    <canvas width="1500" height="1500" style="width: 100%; height: auto; opacity: 0;"></canvas>

                                </li>


                                <li aria-hidden="true" style="animation-duration: 100ms; opacity: 0; height: 501px;" class=""><div class="uk-cover-background uk-position-cover" style="background-image: url(&quot;https://www.aukey.com/wp-content/uploads/2016/10/pl-a1-8-black.jpg&quot;);"></div>

                                    <canvas width="1500" height="1500" style="width: 100%; height: auto; opacity: 0;"></canvas>

                                </li>


                                <li aria-hidden="true" style="height: 501px;"><div class="uk-cover-background uk-position-cover" style="background-image: url(&quot;https://www.aukey.com/wp-content/uploads/2016/10/pl-a1-4-black.jpg&quot;);"></div>

                                    <canvas width="1500" height="1500" style="width: 100%; height: auto; opacity: 0;"></canvas>

                                </li>


                            </ul>

                            <div class="color-switcher uk-visible-small uk-margin-top" data-uk-slideset="{controls: '#color-switcher',filter: 'black',default: 5, animation: 'slide-horizontal', duration: 100}">

                                <div class="uk-slidenav-position">

                                    <ul class="uk-slideset uk-grid-small uk-grid uk-flex-center uk-grid-width-1-5">


                                        <li class="uk-text-center uk-active" data-uk-filter="black" style="">
                                            <a data-uk-slideshow-item="0" class="">
                                                <img src="catalog/view/javascript/product-description/pl-a1-1-black-150x150.jpg"></a>
                                        </li>


                                        <li class="uk-text-center uk-active" data-uk-filter="black" style="">
                                            <a data-uk-slideshow-item="1" class="uk-active">
                                                <img src="catalog/view/javascript/product-description/pl-a1-2-black-150x150.jpg"></a>
                                        </li>


                                        <li class="uk-text-center uk-active" data-uk-filter="black" style="">
                                            <a data-uk-slideshow-item="2">
                                                <img src="catalog/view/javascript/product-description/pl-a1-3-black-150x150.jpg"></a>
                                        </li>


                                        <li class="uk-text-center uk-active" data-uk-filter="black" style="">
                                            <a data-uk-slideshow-item="3" class="">
                                                <img src="catalog/view/javascript/product-description/pl-a1-8-black-150x150.jpg"></a>
                                        </li>


                                        <li class="uk-text-center uk-active" data-uk-filter="black" style="">
                                            <a data-uk-slideshow-item="4">
                                                <img src="catalog/view/javascript/product-description/pl-a1-4-black-150x150.jpg"></a>
                                        </li>



                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </div>

            <div class="uk-article uk-width-small-1-1 uk-width-medium-1-2 mainc">
                <h1 class="uk-text-xlarge">Optic 3-in-1 Smartphone Lens Set</h1>
                <form class="ui form amazonform uk-margin-large-top uk-text-center-small" id="amazoncountry">
                    <ul>
                        <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;\u25cfOptic 3-in-1 Lens Kit includes Wide Angle + Macro + Fisheye Lenses to adapt to a variety of photography scenarios - Travel photos, flowers, unique selfies, or detailed close-ups \n\u25cfEasily affix the lenses with perfect alignment to any mobile device with included clips&quot;}" data-sheets-userformat="{&quot;2&quot;:15107,&quot;3&quot;:{&quot;1&quot;:2,&quot;2&quot;:&quot;0.00_ &quot;,&quot;3&quot;:1},&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:16777215},&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:{&quot;1&quot;:2,&quot;2&quot;:1118481},&quot;15&quot;:&quot;Calibri&quot;,&quot;16&quot;:10}">Optic
 3-in-1 Lens Kit includes Wide Angle + Macro + Fisheye Lenses to adapt 
to a variety of photography scenarios - Travel photos, flowers, unique 
selfies, or detailed close-ups </span></li>
                        <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;\u25cfOptic 3-in-1 Lens Kit includes Wide Angle + Macro + Fisheye Lenses to adapt to a variety of photography scenarios - Travel photos, flowers, unique selfies, or detailed close-ups \n\u25cfEasily affix the lenses with perfect alignment to any mobile device with included clips&quot;}" data-sheets-userformat="{&quot;2&quot;:15107,&quot;3&quot;:{&quot;1&quot;:2,&quot;2&quot;:&quot;0.00_ &quot;,&quot;3&quot;:1},&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:16777215},&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:{&quot;1&quot;:2,&quot;2&quot;:1118481},&quot;15&quot;:&quot;Calibri&quot;,&quot;16&quot;:10}">Optic
 3-in-1 Lens Kit includes Wide Angle + Macro + Fisheye Lenses to adapt 
to a variety of photography scenarios - Travel photos, flowers, unique 
selfies, or detailed close-ups </span></li>
                        <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;\u25cfOptic 3-in-1 Lens Kit includes Wide Angle + Macro + Fisheye Lenses to adapt to a variety of photography scenarios - Travel photos, flowers, unique selfies, or detailed close-ups \n\u25cfEasily affix the lenses with perfect alignment to any mobile device with included clips&quot;}" data-sheets-userformat="{&quot;2&quot;:15107,&quot;3&quot;:{&quot;1&quot;:2,&quot;2&quot;:&quot;0.00_ &quot;,&quot;3&quot;:1},&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:16777215},&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:{&quot;1&quot;:2,&quot;2&quot;:1118481},&quot;15&quot;:&quot;Calibri&quot;,&quot;16&quot;:10}">Easily affix the lenses with perfect alignment to any mobile device with included clips</span></li>
                    </ul>						<div class="field">
                        <div class="ui dropdown selection" tabindex="0">
                            <input name="amazoncountry" value="http://www.amazon.fr/dp/B016NNIZMW" type="hidden">
                            <div class="text">France</div>
                            <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
                            <div class="menu transition hidden" tabindex="-1">
                                <div class="item" data-value="http://www.amazon.com/gp/product/B014CXK9FQ/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B014CXK9FQ&amp;keywords=iphone+lens&amp;linkCode=as2&amp;tag=aukeydirect-20&amp;linkId=3LQG3SLGDU3EBGAD" style="">United States</div>
                                <div class="item" data-value="http://www.amazon.co.uk/dp/B014MC9V4C" style="">United Kingdom</div>
                                <div class="item" data-value="https://www.amazon.co.jp/dp/B016OI2R48">Japan</div>
                                <div class="item" data-value="https://www.amazon.ca/dp/B015HD7W9Q" style="">Canada</div>
                                <div class="item" data-value="http://www.amazon.es/dp/B016U3SIQI">Spain</div>
                                <div class="item active selected" data-value="http://www.amazon.fr/dp/B016NNIZMW">France</div>
                                <div class="item" data-value="http://www.amazon.it/dp/B016PMB6YK">Italy</div>
                            </div>
                        </div>
                        <a class="ui primary basic big button submit uk-width-medium-1-1 buyonamazon" href="http://www.amazon.fr/dp/B016NNIZMW">Buy on Amazon</a>
                    </div>
                </form>

            </div>

        </div>

    </div>
    <div class="video-list preload">
    </div>













    <!-- 底部                            -->
    <div class="Footer" data-reactid="156">
        <div class="Empty" data-reactid="157"></div>
        <div class="module-container" data-reactid="158">
            <div class="table" data-reactid="159">
                <div class="cell" data-reactid="160">
                    <div class="subscribe " data-reactid="161">
                        <form data-reactid="162">
                            <h3 data-reactid="163">Subscribe</h3>
                            <p data-reactid="164">Be the first to know about our latest products.</p>
                            <div class="input" data-reactid="165">
                                <input placeholder="Enter your email address" data-reactid="166" type="text" />
                            </div>
                            <div class="submit" data-reactid="167">
                                <a data-reactid="168">SUBMIT</a>
                            </div>
                        </form>
                    </div>
                    <div class="follow" data-reactid="169">
                        <a target="_blank" class="community" href="https://community.anker.com/" data-reactid="170"><i class="iconfont" data-reactid="171"></i></a>
                        <a target="_blank" class="facebook" href="http://www.facebook.com/Anker.fans" data-reactid="172"><i class="iconfont" data-reactid="173"></i></a>
                        <a target="_blank" class="twitter" href="https://twitter.com/Ankerofficial" data-reactid="174"><i class="iconfont" data-reactid="175"></i></a>
                        <a target="_blank" class="google" href="https://plus.google.com/114663344536204280808" data-reactid="176"><i class="iconfont" data-reactid="177"></i></a>
                        <a target="_blank" class="youtube" href="http://www.youtube.com/user/AnkerOceanwing" data-reactid="178"><i class="iconfont" data-reactid="179"></i></a>
                        <a target="_blank" class="instagram" href="http://instagram.com/anker_official?ref=badge" data-reactid="180"><i class="iconfont" data-reactid="181"></i></a>
                        <a target="_blank" class="periscope" href="http://www.periscope.tv/AnkerOfficial" data-reactid="182"><i class="iconfont" data-reactid="183"></i></a>
                    </div>
                </div>
                <div class="links cell" data-reactid="184">
                    <div class="linklist " data-reactid="185">
                        <h3 data-reactid="186">
                            <!-- react-text: 187 -->About
                            <!-- /react-text --><i class="iconfont" data-reactid="188"></i></h3>
                        <ul data-reactid="189">
                            <li class="" data-reactid="190"><a href="https://www.anker.com/about" data-reactid="191">Our Company</a></li>
                            <li class="" data-reactid="192"><a href="https://www.anker.com/contact" data-reactid="193">Contact Anker</a></li>
                            <li class="" data-reactid="194"><a href="https://www.anker.com/business" data-reactid="195">Wholesale</a></li>
                            <li class="" data-reactid="196"><a href="https://www.anker.com/poweriq" data-reactid="197">PowerIQ™</a></li>
                            <li class="" data-reactid="198"><a href="https://www.anker.com/weee" data-reactid="199">WEEE Information</a></li>
                            <li data-reactid="200"><a href="https://www.anker.com/influencers" data-reactid="201">Anker Influencers</a></li>
                            <li data-reactid="202"><a href="https://www.anker.com/distributors" data-reactid="203">Distributors</a></li>
                            <li data-reactid="204"><a href="https://www.anker.com/anker_store_locator" data-reactid="205">Store Locator</a></li>
                        </ul>
                    </div>
                    <div class="linklist " data-reactid="206">
                        <h3 data-reactid="207">
                            <!-- react-text: 208 -->Support
                            <!-- /react-text --><i class="iconfont" data-reactid="209"></i></h3>
                        <ul data-reactid="210">
                            <li class="" data-reactid="211"><a href="https://www.anker.com/support/download" data-reactid="212">Drivers &amp; Downloads</a></li>
                            <li class="" data-reactid="213"><a href="https://www.anker.com/support/refund-exchange" data-reactid="214">Refund &amp; Exchange</a></li>
                            <li class="" data-reactid="215"><a href="https://www.anker.com/support/privacy-policy" data-reactid="216">Privacy Policy</a></li>
                            <li class="" data-reactid="217"><a href="https://www.anker.com/support/warranty" data-reactid="218">Warranty</a></li>
                            <li class="" data-reactid="219"><a href="https://www.anker.com/support/terms" data-reactid="220">Terms of Use</a></li>
                            <!-- react-text: 221 -->
                            <!-- /react-text -->
                        </ul>
                    </div>
                </div>
                <div class="contact cell" data-reactid="222">
                    <div class="tels" data-reactid="223">
                        <h4 data-reactid="224">Call us</h4>
                        <div data-reactid="225">
                            <p data-reactid="226"><a href="tel:+1%28800%299887973" data-reactid="227">+1 (800) 988 7973 (US)</a></p>
                            <p data-reactid="228">Mon to Fri 9AM - 5PM(PT)</p>
                        </div>
                        <div data-reactid="229">
                            <p data-reactid="230"><a href="tel:+44%280%291604936200" data-reactid="231">+44 (0) 1604 936200 (UK)</a></p>
                            <p data-reactid="232">Mon to Fri 6AM - 11AM(GMT)</p>
                        </div>
                    </div>
                    <div class="email" data-reactid="233">
                        <h4 data-reactid="234">Email</h4>
                        <p data-reactid="235"><a href="mailto:support@anker.com" data-reactid="236">support@anker.com</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix sub" data-reactid="237">
                <p class="copyright" data-reactid="238">Copyright &copy; 2017 Anker Technology Co. Limited</p>
                <div class="country" data-reactid="239">
                    <a href="https://www.anker.com/country" data-reactid="240"><span data-reactid="242">United States</span></a>
                </div>
            </div>
        </div>
        <div class="backTop hide" data-reactid="243">
            <i class="iconfont" data-reactid="244"></i>
            <span data-reactid="245">Back to the Top</span>
        </div>
    </div>




    <script type="text/javascript">
        AddShoppersTracking = {};

        var js = document.createElement('script'); js.type =
            'text/javascript'; js.async = true; js.id = 'AddShoppers';
        js.src = ('https:' == document.location.protocol ?
                'https://shop.pe/widget/' : 'http://cdn.shop.pe/widget/') +
            'widget_async.js#55a7ad23a387640adb280f6a';
        document.getElementsByTagName("head")[0].appendChild(js);
    </script>
    <div style="display: none;">
    </div>	<a class="scroll-to-top"><i class="fa fa-arrow-up"></i></a>
    <script type="text/javascript" async="" defer="defer" src="catalog/view/javascript/AMNIEStore_files/platform.js">
    </script>		<div id="theme-popup">
        <img src="catalog/view/javascript/AMNIEStore_files/ajax-loader.gif" alt="Loading...">
    </div>
    </body></html>