
		body{
			background-color: rgba(0, 0, 0, 0);font-family: "Lato", arial, tahoma;
			font-weight: normal;
		}#mainMenu li.level0 a, #mainMenu li.level0 a span, #mainMenu li.level1 a, #mainMenu li.level1 a span, #mainMenu li.level2 a, #mainMenu li.level2 a span, #menu-collapse a.level0{font-family: "Lato", arial, tahoma;}
				.nav-sub-menu li.level0 a, .nav-sub-menu li.level0 a span, .nav-sub-menu li.level1 a, .nav-sub-menu li.level1 a span, .nav-sub-menu li.level2 a, .nav-sub-menu li.level2 a span, #menu-button{font-family: "Lato", arial, tahoma;}
				h1, .page-title h1{font-family: "Lato", arial, tahoma;}
				h2, .page-title h2{font-family: "Lato", arial, tahoma;}
				h3, .page-title h3{font-family: "Lato", arial, tahoma;}
				h4{font-family: "Lato", arial, tahoma;}
				h5{font-family: "Lato", arial, tahoma;}
				h6{font-family: "Belleza", arial, tahoma;}
				.price, .price-box .price{font-family: "Lato", arial, tahoma;}
				